name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
